<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Atendente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button
    expand="block"
    style="width: 400px; height: 70px; display: block; margin: 0 auto"
    (click)="senhasService.chamarSenha()"
  >
    Chamar próxima senha
  </ion-button>

  <div style="display: flex; justify-content: space-between; margin-top: 220px">
    <div style="flex: 2; text-align: center">
      <h1 style="font-size: 48px">
        {{ senhasService.senhaAtualPainel || '---' }}
      </h1>
    </div>

    <!-- ÚLTIMAS SENHAS -->
    <div style="flex: 1">
      <h3>Últimas chamadas</h3>
      <ion-list>
        <ion-item *ngFor="let senha of senhasService.ultimasChamadas">
          {{ senha }}
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
