<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cliente</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Emitir senha</ion-card-title>
      <ion-card-subtitle>
        {{ senhasService.statusExpediente }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button
        expand="block"
        fill="outline"
        color="medium"
        (click)="senhasService.alternarExpedienteManual()"
      >
        {{
          senhasService.expedienteManualAtivo
            ? 'Encerrar expediente manual'
            : 'Iniciar expediente'
        }}
      </ion-button>

      <ion-item>
        <ion-label>Senha</ion-label>
        <ion-note slot="end">
          {{ senhasService.inputNovaSenha || '---' }}
        </ion-note>
      </ion-item>

      <ion-button
        expand="block"
        [disabled]="!senhasService.expedienteAberto"
        (click)="senhasService.novaSenha('SG')"
      >
        Senha Geral
      </ion-button>

      <ion-button
        expand="block"
        [disabled]="!senhasService.expedienteAberto"
        (click)="senhasService.novaSenha('SP')"
      >
        Senha Prioritaria
      </ion-button>

      <ion-button
        expand="block"
        [disabled]="!senhasService.expedienteAberto"
        (click)="senhasService.novaSenha('SE')"
      >
        Senha Exame
      </ion-button>

      <ion-text color="medium">
        <p>{{ senhasService.mensagemSistema }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
